<%- include('../includes/head.ejs') %>
</head>

<body>
  <%- include('../includes/navigation.ejs') %>

  <main class="section">
    <div class="container">
      <% if (errorMessage) { %>
      <div class="notification is-danger"><%= errorMessage %></div>
      <% } %>
      <div class="columns is-centered">
        <div class="column is-one-third">
          <form class="box" action="/login" method="POST">
            <div class="field">
              <label class="label" for="email">E-mail</label>
              <div class="control">
                <input
                  class="input <%= validationErrors.find(error => error.path === 'email') ? 'is-danger' : '' %>"
                  type="email"
                  name="email"
                  id="email"
                  value="<%= oldInput.email %>"
                />
              </div>
            </div>
            <div class="field">
              <label class="label" for="password">Password</label>
              <div class="control">
                <input
                  class="input <%= validationErrors.find(error => error.path === 'password') ? 'is-danger' : '' %>"
                  type="password"
                  name="password"
                  id="password"
                  value="<%= oldInput.password %>"
                />
              </div>
            </div>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <div class="field is-grouped is-grouped-right">
              <p class="control"><button class="button is-link" type="submit">Login</button></p>
            </div>
            <div class="has-text-right">
              <a href="/reset">Forgot Password?</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </main>
  <%- include('../includes/end.ejs') %>